* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}



.card {
    background-size: 100vw 100vh !important;
    background-color: black !important;
}

#carouselExampleSlidesOnly .carousel-item {
    height: 8rem !important;
}

#carouselExampleSlidesOnly .carousel-item.active img {
    object-fit: cover;
    height: 8rem !important;
}

.imagenes {
    height: 8vh;
    width: 4vw;
}

.tarjetas {
    width: 20vw;
    height: 70vh;
    background-color: white;
}

#logo {
    width: 20vw;
}

.estilos {
    font-weight: bold;
}

.imagenes2 {
    height: 30vh;
    width: 20vw;
}
.titulo{
    color: gray !important;
    text-transform: uppercase;
}
.no-events-message {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
  }