 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 color: white;
} 
nav{
    background-image: url(optional_banner_3.jpg);
    background-size: 100vw 100vh;
}
body{
    background-image: url(optional_banner_3.jpg);
    background-size: 100vw 100vh;
}
.card{
    background-image: url(optional_banner_3.jpg) !important;
    background-size: 100vw 100vh !important;
}
#carouselExampleSlidesOnly .carousel-item {
    height: 8rem !important;
}
#carouselExampleSlidesOnly .carousel-item.active img {  
    object-fit: cover;
    height: 8rem !important;
}
#imagenes{
    height: 8vh;
    width: 4vw;
}
#tarjetas{ 
    width: 20vw;
    height: 60vh;
    background-image: url(optional_banner_3.jpg);
}
#logo{
    width: 20vw;
}